body{
    font-size: 14pt;
    font-family:fantasy;
}

header {
    background: navy;
    font-size: 30pt;
    color: white;
    padding:20px;
    text-align: center;
}

#searchIntro {
    padding: 10px;
    font-size: 18pt;
    font-weight: bold;

}
#city-search{
    margin: 0px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: unset;
    width: 80%;
    font-size: 16pt;
    display: inline-block;
    height: 50px;

}
#schBtn {
    background:cornflowerblue;
    color: white;
    width: 20%;
    border: 1 px solid gray;
    padding: 0px;
    margin: -5px;
    height: 51px;
    display:inline-block;


}

.list-group-item{
    border: 1px solid gray;
    height: 40px;
}

#results {
    border: lightgray;
    padding: 5px;
    border-style:solid;
}

#weatherInfo {
    border: 1px solid gray;
    padding: 20px;
    height: 350px;
    margin-top: 30px;
    text-align: left;
    padding-bottom: 20px;

}

h3{
    margin-bottom: 20px;
    margin-top: 20px;
    padding:10px;
}

p{
    padding: 10px;
    margin-bottom: 5 px;
}


