body{
    font-size: 14pt;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(222, 226, 245);
}
/* * {
    box-sizing: border-box;
} */

header {
    background: navy;
    font-size: 30pt;
    color: white;
    padding:20px;
    text-align: center;
}

#searchIntro {
    padding: 10px;
    font-weight: bold;
}

form.example input[type=text]{
    padding: 10px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: white;
    margin: 0;
}

form.example button {
    float: left;
    width: 20%;
    padding:  10px;
    background: blue;
    color: white;
    font-size: 14px;
    border:1px solid grey;
    border-left: none;
    cursor: pointer;
    margin:0;
}

form.example button:hover {
    background:midnightblue;
}

form.example::after {
    content:"";
    clear: both;
    display: table;
}

li.list-group-item {
    border: none;
}

#prevCity {
    border: 1px solid gray;
    background: white;
    font-size: 12pt;
    padding: 5px;
    margin-bottom: 0px;

}
#previous {
    border: 1px solid gray;
    height: 40px;
}

#pvsBtn {
    border: 1px solid gray;
    background: white;
    font-size: 12pt;
    padding: 5px;
    margin-bottom: 0px;

}


#cityName {
    font-weight: bold;
    font-size: 20pt;
    margin-top: 20px;
    margin-bottom: none; 
    border: none;  
    vertical-align: bottom; 
}

#date {
    font-size: 18pt;
    margin-top: 20px;
    margin-bottom: none;
    vertical-align: bottom; 
}
#titleIcon {
    border: none;
    height: 40px;
    margin-top: 20px;
    margin-bottom: none;
    vertical-align: bottom; 
}

h3 {
    font-weight: bold;
    margin-top: 20px;
}
.card {
    border: none;

}
#weatherData {
    border: none;
    width: 100%;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: black;
    background-color: white;
}

#fivedayForecast {
    border: none;
    width: 100%;
    margin-top: 0px; 
    color: black
}

h5 {
    padding: 10px;
    text-align: left;
    font-size: 12pt;
}

#fTitle {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.forecastbox {
    background:rgb(53, 80, 235);
    color: white;
    font-size: 10pt;
    text-align:left;
    border-radius: 5px;
}

.card-body {
    padding: 10px;
}






